@charset "utf-8";

.form_categoria{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    margin-bottom: 42px;
    margin-top: 61px;
}

input[type="text"] {
    width: 385px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #EA1D2C;
    background: #F6F5F5;
    font-size: 25px;
}

span {

    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    width: 100%;
}

.botao_enviar {
    width: 155px;
    height: 57px;
    border-radius: 10px;
    background: #EA1D2C;
    color: #F6F5F5;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: -1;
}

