@charset "utf-8";

.father {
    display: flex;
    justify-content: center;
}

h1 {
    color: black;
    font-size: 64px;
    color: #1E1E1E;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .botao_voltar {
    margin-left: 27px;
    display: flex;
    padding-top: 200px;
} */

.container_topo {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    /* background-color: black; */
    width: 100%;
}

.container_lista {
    /* background-color: blueviolet; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
    width: 730px;
    height: 58px;
    margin-top: 260px;
    border-radius: 7px;
    padding: 20px;
    background-color: #D9D9D9;
    display: inline;
    list-style: none;
    
}

li:hover {
    background-color: #EA1D2C;
}

a {
    font-size: 32px;
    width: 400;
    padding: 60px;
    text-decoration: none;
    line-height: 95.68px;
    color: #EA1D2C;
}

a:hover {
    color: #F6F5F5;
}

.tabela {
    display: inline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.tabela th {
    font-size: 32px;
    padding: 15px;
    border: 2px solid;
    color: #EA1D2C;
    background-color: #F6F5F5;
}

.tabela td {
    font-size: 32px;
    padding: 15px;
    border: 2px solid;
    color: #1E1E1E;
    background-color: #F6F5F5;
    padding: 60px;
    border-color: #EA1D2C;
}

.tabela .icones {
    display: inline;
    color: #F6F5F5;
    background-color: #EA1D2C;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: .9rem;
}


