@charset "utf-8";

.father {
    display: flex;
    justify-content: center;
}

.container_topo {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container_lista {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: black;
    font-size: 64px;
    color: #1E1E1E;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Nav_listagem_forms {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 58px;
}

.Nav_listagem_forms > button {
    background-color: transparent;
    color: #EA1D2C;
    border: none;
    width: 243px;
    border-radius: 10px;
}

.Categoria.on {
    background-color: #EA1D2C;
    color:#fff;
}

.Item.on {
    background-color: #EA1D2C;
    color:#fff;
}

.Subcategoria.on {
    background-color: #EA1D2C;
    color:#fff;
}

.Insumo.on {
    background-color: #EA1D2C;
    color:#fff;
}



