@charset "utf-8";

.footer {
    width: 100%;
    height: 49px;
    flex-shrink: 0;
    background-color:  #EA1D2C;
    color: #ffff;
    text-align: center;
}

.footerTexto {
    color: #FFF;
    font-family: Kanit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}