@charset "utf-8";

.father {
    display: flex;
    justify-content: center;
}

.container_conteudo {
    padding-top: 310px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.conteudo_pedido {
    width: 674px;
    height: 680px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #EA1D2C;
}

.numpedido {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
    display: flex;
    word-wrap: break-word;
    margin-top: -50px;
}

.tabelas {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

/* Estilo da primeira tabela */

.tabela_p01 {
    margin-bottom: 10px;
    margin-top: 10px;
    margin: 30px;
    margin-left: 105px;
}
  
.tabela_p01 th, .tabela_p01 td {
    width: 75%;
    font-size: 24px;
    border: 2px solid #ddd;
    color: #FFFFFF;
    padding: 8px;
    text-align: left;
}

/* Estilo da segunda tabela */

.tabela_p02 {
    width: 69%;
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin: 30px;
    margin-left: 105px;
}
  
.tabela_p02 th, .tabela_p02 td {
    color: #FFFFFF;
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela_p01 .valor_u {
    text-align: center; 
    color: white; 
    font-size: 16px; 
    font-weight: 400; 
    word-wrap: break-word;
}

.tabela_p01 .itens {
    color: white; 
    font-size: 32px; 
     font-weight: 400; 
     word-wrap: break-word;
}

.tabela_p01 .total {
    color: white;
    font-size: 32px;
    font-family: Kanit;
    font-weight: 400;
    word-wrap: break-word
}

.tabela_p02 .forma_pagamento {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Kanit;
    font-weight: 400;
    word-wrap: break-word
}

.tabela_p02 .horario_pedido {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: Kanit;
    font-weight: 400;
    word-wrap: break-word
}

.tabela_p02 .cliente {
    text-align: center;
}

.tabela_p02 .data {
    text-align: center;
}


