@charset "utf-8";

.father {
    display: flex;
    justify-content: center;
    background-image: url("../../../assets/fundoPizza.svg");
}

h1 {
    color: #1E1E1E;
    font-size: 64px;
    font-family: Kanit;
    font-weight: 400;
    word-wrap: break-word
}

.container_topo {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-image: url("../../../assets/fundoPizza.svg"); */
}

.container_pedido {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blueviolet; */
}

.tabela_pedido {
    width: 1535px;
    height: 60px;
    margin-top: 30px;
    flex-shrink: 0;
    /* background-color: blue; */
    margin-bottom: 276px;
}

.tabela_pedido tr {
    color: #EA1D2C;
    
}

.tabela_pedido th {
    font-size: 32px;
    padding: 15px;
    border: 3px solid #EA1D2C;
    background: #F6F5F5;
}

.tabela_pedido td {
    font-size: 32px;
    padding: 15px;
    border: 3px solid #EA1D2C;
    background: #F6F5F5;
    color: #1E1E1E;
    padding: 60px;
    text-align: center;
}

.tabela_pedido .icones_pedido {
    width: 57px;
    height: 56px;
    display: flex;
    color: #F6F5F5;
    background-color: #EA1D2C;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 60px;
    align-items: center;
    justify-content: center;
}

.tabela_pedido .icones_pedido:hover {
    color: #FFFFFF;
    background-color: #840303;
}


