@charset "utf-8";

.father {
    display: flex;
    justify-content: center;
}

h1 {
    color: black;
    font-size: 64px;
    color: #1E1E1E;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.nav_listagem_forms {
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 58px;
}

/* filtragem dos forms */
.nav_listagem_forms > button {
    background-color: transparent;
    color: #EA1D2C;
    border: none;
    width: 243px;
    border-radius: 10px;
}

.categoria.on {
    background-color: #EA1D2C;
    color:#fff;
}

.item.on {
    background-color: #EA1D2C;
    color:#fff;
}

.subcategoria.on {
    background-color: #EA1D2C;
    color:#fff;
}

.container_topo {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    /* background-color: black; */
    width: 100%;
}

.container_form {
    /* background-color: blueviolet; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.caixa_botao {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 121px;
    /* background-color: antiquewhite; */
}