@charset "utf-8";

form{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

input[type="text"] {
    width: 385px;
    height: 56px;
    border-radius: 10px;
    border: 1px solid #EA1D2C;
    background: #F6F5F5;
    font-size: 25px;
}

span {

    color: #1E1E1E;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
    width: 100%;
}

